.main {
    height: 100%;
}

.titleArea {
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    background-color: rgba(238, 216, 188, 0.762);
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    color: rgb(53, 73, 101);
    font-size: larger;
}

.tdesc {
    display: flex;
}

.uploadForm {
    display: flex;
}

.dropdown {
    display: flex;
}