.nav {
  background-color: #8862629c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 7vh;
}

.navLogo {
  height: 100%; /* Adjust the height as needed */
  width: 60%;
  margin-left: 2%;
  display: flex;
  align-items: center;
}

.nav-links {
  gap: 10px;
  list-style-type: none;
  margin-right: 0;
  /* padding: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3vw;
  width: 25%;
  
}

.navItems {
  height: 90%;
  width: 30%;
  align-items: center;
  border-radius: 5px;
  /* background-color: #f4b31a; */
  font-weight: bolder;
  display: flex;
  justify-content: center;
  font-size: large;
}

.navItems:hover {
  background-color: #65647C;
}
