.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: calc(100%-5vh); */
  min-height: 100%;
  background-color: #f1efdc;
}

.mainContent {
  display: flex;
  /* grid-template-columns: 2fr 8fr; */
  gap: 1vh;
}

.sidebar {
  transition: width 0.1s ease-in-out;
  height: initial;
  margin: 1vh 0 1vh 1vh;
  background-color: #8b7e74;
  border-radius: 0.5vw;
  width: 0%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar.open {
  width: 20%;
  height: fit-content;
  background-color: #8b7e74;
  /* padding-right: 10%; */
}

.toggle-btn {
  background-color: rgb(91, 88, 90);
  /* margin-bottom: 10px; */
  border: none;
  cursor: pointer;
  border-radius: 1vh;
  /* transform: translateX(15vw); */
  transition: transform 0.07s ease-in; /*箭頭左右漸進動畫 */
  display: flex;
  /* align-items: center; */
}

/* .toggle-btn.click {
  transform: translateX(0);
} */

.arrow {
  transform: rotate(0);
  transition: transform 0.2s ease-in;
}

.arrow.close {
  transform: rotate(-0.5turn);
}

.sidebar-content {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  color: aliceblue;
  font-family: sans-serif;
  height: 100%;
  padding: 2vh;
  width: 100%;
}

.sidebarTitle {
  margin-bottom: 3%;
  font-weight: bolder;
  font-size: 2.5vh;
  align-self: flex-start;
}

.sidebarLine {
  width: 90%;
  border: 0;
  border-top: 5px solid #d7c0ae;
  border-radius: 1.5px;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: none;
}

.pp {
  width: 100%;
}

.dropdown {
  display: flex;
  align-items: center;
  width: 100%;
}

.filterGroups {
  display: flex;
  margin-top: 5%;
  padding: 0.1rem 0.3rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.filterGroups:hover {
  color: #452c07;
  background-color: #fefefe;
  border-radius: 0.3vh;
}

.dropdownArrow {
  display: flex;
  width: fit-content;
}

.product {
  margin: 3%;
  /* display: none; */
  transform-origin: top;
  transform: rotateX(-90deg);
  max-height: 0;
  transition: transform 0.3s ease, max-height 0.3s ease;
  display: flex;
  flex-wrap: wrap;
}

.pOpen {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  /* animation: unfold 400ms ease;
  transform-origin: top center; */
  max-height: 70vh; /*最大長度變化*/
  transform: rotateX(0deg);
}

@keyframes unfold {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

/* @keyframes fold {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
} */

.item {
  font-family: sans-serif;
  margin-top: 1%;
  width: 100%;
}

.item:hover {
  background-color: #8ea589;
}

.mainRight {
  /* display: flex;
  flex-wrap: wrap; */
  margin: 1vh 1vh 1vh 0;
  height: fit-content;
  width: 100%;
}

.companyArea {
  display: flex;
  background-color: #c7bca1;
  border-radius: 0.5vw;
  height: 80vh;
  margin-top: 1vh;
  align-items: center;
  flex-wrap: wrap;
}

.infoAreaTop {
  display: flex;
  background-color: #c7bca1;
  height: 10vh;
  width: 100%;
  border-radius: 0.5vw;
  align-items: center;
}

.eachProductArea {
  height: fit-content;
  width: 100%;
  background-color: rgba(235, 234, 226, 0.75);
  margin-bottom: 2%;
  border-radius: 0.5vw;
  padding: 2%;
}

.tagNameNSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
}

.eachProduct {
  display: flex;
  width: 40%;
}

.companiesByProduct {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.selectComBtn {
  margin: 0;
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: end;
}

.allCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 3%;
  color: #e1f0e6;
  background-color: #3e4e74;
  border-radius: 1vh;
  height: 5vh;
  width: fit-content;
}

.removeCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 3%;
  color: #e1f0e6;
  background-color: #744b3e;
  border-radius: 1vh;
  height: 5vh;
  width: fit-content;

}

.compareComBtn {
  margin: 0 5%;
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: end;
}

.compare {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 3%;
  background-color: #007a7e;
  color: azure;
  border-radius: 1vh;
  height: 5vh;
  width: fit-content;
}

.infoArea {
  width: 90%;
  height: 60vh;
  margin: 0 5% 0 5%;
  /* display: flex; */
  /* align-items: center; */
  justify-content: space-between;
  overflow-y: scroll;
}

.companyBox {
  height: 15vh;
  /* width: 100%; */
  border-radius: 1vw;
  background-color: #f1efdc;
}

.companyBox:hover {
  background-color: rgb(226, 231, 235);
}

.coInfoArea {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.selectCo {
  padding: 3% 2% 0 0;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.selectCo input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.3em;
  margin-right: 0.5em;
  border: 0.15em solid #3a8aa8;
  outline: none;
  cursor: pointer;
}

.cLogoName {
  color: #452c07;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 55%;
  margin-bottom: 15%;
  width: 100%;
}

.cName {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.5vh;
}

.cName:hover {
  color: rgb(75, 165, 172);
}

input.checked {
  background-color: #007a7e;
  position: relative;
}

input.checked:before {
  content: "\2714";
  font-size: 1.3em;
  color: #fff;
  position: absolute;
  right: 1%;
  top: -1%;
  left: 1.5%;
}

.setags {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tagDisplay {
  width: 80%;
  max-width: 90%;
  background-color: transparent;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1vh;
}

.tag {
  background-color: #657a8c;
  color: #efede0;
  margin-right: 1vh;
  /* width: fit-content; */
  padding: 1%;
  border-radius: 0.8vh;
  display: flex;
  align-items: center;
  font-size: 1.8vmin;
}

.tag:hover {
  border-color: #f9f9f9;
}

.tagtext {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.deltag {
  border: none;
  background-color: transparent;
  color: #e8e6e3;
  font-weight: 700;
  
}

.deltag:hover {
  cursor: pointer;
}

.delall {
  background-color: #748b7d;
  color: #e8e6e3;
  max-width: 20%;
  height: fit-content;
  border-radius: 1vh;
  padding: 1%;
  font-size: 1.8vmin;
}

.tagsAndsearch {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.taRight {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.filterAmount {
  display: flex;
  height: 5vh;
  background-color: #748b7d;
  color: #f4f5e5;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vh;
  width: 15vh;
}

.selectAmount {
  display: flex;
  height: 5vh;
  background-color: #6788a6;
  color: #f4f5e5;
  align-items: center;
  justify-content: center;
  border-radius: 0.5vh;
  width: 17vh;
}

.searchBar {
  display: flex;
  width: 30%;
  height: 5vh;
  background-color: azure;

  border-radius: 1vh;
  border: 0.25vh solid rgb(184, 184, 184);
  /* margin-right: 1vh; */
}

.searchInput {
  background-color: transparent;
  padding: 0 5%;
  border: none;
  width: 100%;
  outline-color: rgb(106, 160, 172); /*input box 按下去的border*/
}
/* .mainItems {
  background-color:blanchedalmond;
} */
